@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@200;300;500;600;700;1000&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,200;0,500;0,700;0,800;0,900;1,300;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Clash Display', sans-serif;
    box-sizing: border-box;
    
}

.logo-img{
    margin-left: 5vw;
}


nav{
    background-color: #ffffff00;
}
#mynavbar ul li:hover{
    background-color: black;
    
}
#mynavbar ul li a:hover{
    color: aliceblue;
}

/*  */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table tr:not(:last-child) {
    margin-bottom: 20px;
}

table p {
    font-size: 16px;
    margin-top: 10px;
}
/*  */

.about-us-content {
    padding: 20px;
}

.about-us-content h2 {
    color: red;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px; /* Set the desired font size */
  }

.footer-copyrights{
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.footer-copyrights h3{
    color: white;
}



.main-grid-content-right, .main-grid-content-left{
    
    height: 70vh;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 3vw 2fr 1fr 2vw;
    grid-template-rows: 1fr ;
    margin-top: 6vw;
    align-items: center;
}



.main-grid-content-left{
    grid-template-columns: 3vw 1fr 2fr 3vw;
    margin-top: 10vw;
    

}
.main-grid-content-left .main-grid-content-text{
    text-align: center;
}
.main-grid-content-text{
    font-size: 80px;
    font-weight: bolder;
}

.main-grid-content-img img{
    width: 550px;
    height: 650px;
}
.main-grid-content-text-btn{
    font-size: 30px;
    padding: 8px;
    background-color:  rgba(149, 146, 146, 0.731);
    border: none;
    border-radius: 5px;
}
.main-grid-content-text-btn:hover{
    color: white;
    background-color: black;
    border-radius: 20px ;
}

.main-grid-content-text-span{
    font-size: 70px;
    font-weight: 600;
}

.col-of-info{
    margin-top: 10vw;
    height: 60vh;
    display: grid;
    grid-template-columns:5vw 1fr 1fr 1fr 4vw;
    grid-template-rows: 1fr ;    
}

.col-of-info-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5vw;
    border: 1px solid white;
    background-color: black;
}

.col-of-info-header{
    grid-column-start: 2;
    grid-column-end: 5;
    border-top: 1px solid black;
    font-size: 5vw;

}
.col-of-info-text span{
    font-size: 80px;
}



/* fitness page Style Start */
.fitness-info-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    

}
.fitness-info-grid  div{
    border: 1px solid black;   
}
.fitness-info-grid .fitness-info-grid-img{
    grid-row-start: 2;
    grid-row-end:4 ;
    background-image: url(../Images/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}



/* fitness page Style END */

/* About Us page Start */

.about-us-grid{
    display: grid;
    height: 150vh;
    grid-template-columns: 0.6fr  1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 8vw;
    margin-bottom: 200px;
}
.about-us-header {
    grid-row-start: 1;
    grid-row-end: 5;
    margin-left: 8vw;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 10px;
}
.about-us-content{
    border-top: 1px solid black;
    margin-right: 10vw;
    font-size: 20px;
}
.about-us-content-main{
   padding: 1vw;
    margin-right: 10vw;
    letter-spacing: 1px;
}

.about-us-content-span{
    font-size: 40px;
    font-weight: 600;
}

/* About Us page END */


/* info fitness Start */
.cards-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex-card-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 300px;
    
}
.flex-card {
    display: flex;
    width: 350px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    margin: 20px;
    
}
.flex-card div{
    padding: 5px;
}
/* info fitness End */


/* membership page style start */
.card-btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color:#fff;
}
.card-btn:hover{
    background-color: black;
    color: #fff;
}  
/* membership page style end */

/* forn style Start */
    .form-style{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        margin: 5vw 30vw ;
        border-radius: 30px;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
    }
/* forn style End */


/* sign up style Start */
.form-sign-style-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.form-sign-style {
    max-width: 500px;
    max-height: 500px;
   
}
.form-sign-style form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10vw;


}
.form-sign-style label{
    font-size: 18px;
}
.form-sign-style button{
    width: 90px;
    height: 35px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
}

.btn-red:hover{
    color: #ee7474;
    border: 1px solid rgb(180, 180, 186);
}
.btn-green:hover{
    color: #57c285;
    border: 1px solid rgb(180, 180, 186);
}

/* sign up style End */
/* 1200px */
@media screen and (max-width:1200px){
    .main-grid-content-text{
        font-size: 60px;
        font-weight: 700;
    }
    
    .main-grid-content-img img{
        width: 450px;
        height: 500px;
    }

}
/* 992 */

@media screen and (max-width:992px){

    .main-grid-content-text{
        font-size: 50px;
        font-weight:650px;
    }
    
    .main-grid-content-img img{
        width: 400px;
        height: 450px;
    }
    .main-grid-content-left{
        margin-top: 6vw;
    }

    /* about us Start */
    .about-us-content , .about-us-content-main{
        font-size: 15px;
    }
    .about-us-header{
        font-size: 40px;
    }
    /* about us END */
}

/* 768 */

@media screen and (max-width:768px){
    .main-grid-content-text{
        font-size: 40px;
        font-weight:500px;
    }
    
    .main-grid-content-img img{
        width: 300px;
        height: 350px;
    }
    .main-grid-content-right, .main-grid-content-left{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .main-grid-content-left{
        margin-top: 4vw;
    }
    .main-grid-content-text-span{
        font-size: 60px;
        font-weight: 500;
    }
    
}

/* none display the phone style while the screen view port does not reach 576px */
.phone-style{
    display: none;
}
/* 576 */
@media screen and (max-width:576px){
    .big-screen-style{
        display: none;
    }
    .phone-style{
        display: block;
        margin-top: 60px;
    }
    .main-grid-content-phone{
        height: 150vh;
        display: grid;
        grid-template-columns: 3vw 1fr 3vw;
        grid-template-rows: 300px 450px 350px;
    }
    .main-grid-content-phone-text{
        text-align: center;
        font-size: 40px;
        font-weight:700;
    }
    .main-grid-content-text-btn{
        font-size: 20px;
        padding: 10px;
        background-color:  rgba(149, 146, 146, 0.731);
        border: none;
        border-radius: 5px;
    }
    
    .main-grid-content-phone-img{
        background-image: url(../Images/img5-small.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-of-info{
        margin-top: 10vw;
        height: 110vh;

        display: grid;
        grid-template-columns:7vw 1fr 7vw;
        grid-template-rows: 1fr 1fr 1fr;    
    }
    .col-of-info-text{
        margin: 10px 0;
    }
    /* about us Start */
    .about-us-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .about-us-header {
        text-align: center;
        margin-left: 0;
        background-color: rgb(201, 214, 226);
        font-weight: 500;
        letter-spacing: 10px;
    }
    .about-us-content{
        border-top: 1px solid black;
        margin-right: 10vw;
        
    }
    .about-us-content-main{
       padding: 1vw;
        padding: 20px;
        letter-spacing: 1px;
    }
    /* about us End */

    /* form Start */
    .form-sign-style label{
        font-size: 14px;
        
    }
    .form-style{
        margin: 5vw 10vw;
    }
    /* form End */
    
}





    
    
